# numpy and pandas assignment

## Q.1 create a null vector of size 10

In [1]:
import numpy as np

In [2]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

## Q2. create a null value of size 10 but fifth value is 1

In [3]:
x=np.zeros(10)
x[4]=1
x

array([0., 0., 0., 0., 1., 0., 0., 0., 0., 0.])

## Q3. create a matrix with values ranging 0 to 8

In [4]:
y=np.arange(0,9)
y.reshape((3,3))

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

## create 3x3x3 matrix with random values

In [5]:
np.random.random((3,3,3))

array([[[0.31522795, 0.68079534, 0.72885387],
        [0.65276226, 0.6971505 , 0.32137891],
        [0.91999613, 0.25969405, 0.8480754 ]],

       [[0.48019265, 0.77165864, 0.46151204],
        [0.51983877, 0.2867469 , 0.00792038],
        [0.60521791, 0.33381097, 0.45098739]],

       [[0.78140853, 0.79120525, 0.3994951 ],
        [0.26982557, 0.53259864, 0.39445049],
        [0.68890997, 0.41446994, 0.25022618]]])

## Q5. multiply 5x3 matrix with 3x2 matrix

In [6]:
a=np.arange(0,15)
c=a.reshape((5,3))

b=np.arange(15,21)
d=b.reshape((3,2))

#c*d
c.dot(d)

array([[ 55,  58],
       [208, 220],
       [361, 382],
       [514, 544],
       [667, 706]])

## Q6. create a 5x5 matrix with row values ranging 0 to 4

In [7]:
p=np.zeros((5,5))
p[1,:]=np.arange(0,5)

print(p)

p[:,:]=np.arange(0,5)
print(p)

[[0. 0. 0. 0. 0.]
 [0. 1. 2. 3. 4.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]]
[[0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]
 [0. 1. 2. 3. 4.]]

## Q7. subtract the mean of each row of matrix

In [8]:
x=np.random.random((5,10))
m=x.mean(axis=1)
print(m)
m.reshape()
print(m.shape)
x-m

[0.46674016 0.47027229 0.5371625  0.45055361 0.62609941]

TypeError: reshape() takes exactly 1 argument (0 given)

In [9]:
a = np.array ([np.arange (1, 4), np.arange (2, 5), np.arange (3, 6), np.arange (4, 7), np.arange (5, 8)])
a

array([[1, 2, 3],
       [2, 3, 4],
       [3, 4, 5],
       [4, 5, 6],
       [5, 6, 7]])

## Q8. how to get the daigonalof a dot product

In [10]:
z=np.diag(c.dot(d))
print(z,"\n")
print(c.dot(d))
g=c.dot(d)
g.diagonal()

[ 55 220]

[[ 55  58]
 [208 220]
 [361 382]
 [514 544]
 [667 706]]

array([ 55, 220])

## Q9. how to find most frequent value in array

In [11]:
a=np.array([1,2,4,5,6,2,2,3])
counts=np.bincount(a)
print(np.argmax(counts))

2

## Q10.create a random vector of size 10 and sort it

In [12]:
a=np.random.random(10)
print(a,'\n')
a.sort()
print(a)

[0.4147271  0.42166592 0.20665255 0.02363435 0.99417173 0.0887568
 0.78717513 0.90298175 0.89985316 0.79488485]

[0.02363435 0.0887568  0.20665255 0.4147271  0.42166592 0.78717513
 0.79488485 0.89985316 0.90298175 0.99417173]

# pandas assignment

## Q1. load chipo and assign it to a variable

In [13]:
import pandas as pd
import numpy as np



chipo=pd.read_csv(r'C:\Users\AMIT\Desktop\MSIT_ML_CLASS-master-2\MSIT_ML_CLASS-master\datasets\chipotle.tsv',sep='\t')

## Q2. see the first 10 entities

In [14]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

## Q3. what is the number of obssrvations

In [15]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 126.4+ KB

## Q4. what is the number of columns

In [16]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

## Q5. print the name of all columns

In [17]:
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

## Q6. how is the dataset indexed

## Q7. what was the most ordered item and how many items were ordered

In [18]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [19]:
chipo.groupby('item_name').quantity.count()

item_name
6 Pack Soft Drink                         54
Barbacoa Bowl                             66
Barbacoa Burrito                          91
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Barbacoa Soft Tacos                       25
Bottled Water                            162
Bowl                                       2
Burrito                                    6
Canned Soda                              104
Canned Soft Drink                        301
Carnitas Bowl                             68
Carnitas Burrito                          59
Carnitas Crispy Tacos                      7
Carnitas Salad                             1
Carnitas Salad Bowl                        6
Carnitas Soft Tacos                       40
Chicken Bowl                             726
Chicken Burrito                          553
Chicken Crispy Tacos                      47
Chicken Salad                              9
Chicken Salad Bowl                       110
Chicken Soft Tacos                       115
Chips                                    211
Chips and Fresh Tomato Salsa             110
Chips and Guacamole                      479
Chips and Mild Fresh Tomato Salsa          1
Chips and Roasted Chili Corn Salsa        22
Chips and Roasted Chili-Corn Salsa        18
Chips and Tomatillo Green Chili Salsa     43
Chips and Tomatillo Red Chili Salsa       48
Chips and Tomatillo-Green Chili Salsa     31
Chips and Tomatillo-Red Chili Salsa       20
Crispy Tacos                               2
Izze                                      20
Nantucket Nectar                          27
Salad                                      2
Side of Chips                            101
Steak Bowl                               211
Steak Burrito                            368
Steak Crispy Tacos                        35
Steak Salad                                4
Steak Salad Bowl                          29
Steak Soft Tacos                          55
Veggie Bowl                               85
Veggie Burrito                            95
Veggie Crispy Tacos                        1
Veggie Salad                               6
Veggie Salad Bowl                         18
Veggie Soft Tacos                          7
Name: quantity, dtype: int64

In [20]:
chipo.groupby('item_name').quantity.count().max()
# chicken bowl was ordered max

726

## Q9. what was the most ordered item in choice_description column

In [21]:
dict=chipo.groupby('choice_description')['quantity'].count()
dict

choice_description
[Adobo-Marinated and Grilled Chicken, Pinto Beans, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice, Guacamole]]                                                                                 1
[Adobo-Marinated and Grilled Chicken, [Sour Cream, Cheese, Cilantro-Lime Rice]]                                                                                                                1
[Adobo-Marinated and Grilled Chicken]                                                                                                                                                          1
[Adobo-Marinated and Grilled Steak, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice, Guacamole]]                                                                                                1
[Adobo-Marinated and Grilled Steak]                                                                                                                                                            1
[Apple]                                                                                                                                                                                        6
[Blackberry]                                                                                                                                                                                   8
[Braised Barbacoa, Pinto Beans, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice, Guacamole]]                                                                                                    1
[Braised Barbacoa, Vegetarian Black Beans, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice]]                                                                                                    1
[Braised Carnitas, Pinto Beans, [Sour Cream, Cheese, Cilantro-Lime Rice]]                                                                                                                      1
[Brown Rice, Adobo-Marinated and Grilled Chicken, Vegetarian Black Beans]                                                                                                                      1
[Brown Rice]                                                                                                                                                                                   1
[Clementine]                                                                                                                                                                                   8
[Coca Cola]                                                                                                                                                                                   26
[Coke]                                                                                                                                                                                       123
[Diet Coke]                                                                                                                                                                                  134
[Diet Dr. Pepper]                                                                                                                                                                             13
[Dr. Pepper]                                                                                                                                                                                  18
[Fresh Tomato (Mild), [Black Beans, Guacamole, Rice, Sour Cream, Cheese]]                                                                                                                      1
[Fresh Tomato (Mild), [Black Beans, Rice, Sour Cream, Cheese]]                                                                                                                                 2
[Fresh Tomato (Mild), [Guacamole, Lettuce, Pinto Beans, Rice, Sour Cream, Cheese]]                                                                                                             2
[Fresh Tomato (Mild), [Guacamole, Lettuce, Rice, Fajita Veggies, Cheese]]                                                                                                                      1
[Fresh Tomato (Mild), [Guacamole, Lettuce, Rice, Fajita Veggies, Sour Cream, Cheese]]                                                                                                          1
[Fresh Tomato (Mild), [Guacamole, Lettuce, Rice, Sour Cream, Cheese]]                                                                                                                          1
[Fresh Tomato (Mild), [Guacamole, Rice, Black Beans]]                                                                                                                                          1
[Fresh Tomato (Mild), [Guacamole, Rice, Fajita Veggies, Sour Cream, Cheese]]                                                                                                                   1
[Fresh Tomato (Mild), [Guacamole, Rice, Sour Cream, Cheese]]                                                                                                                                   1
[Fresh Tomato (Mild), [Guacamole, Rice]]                                                                                                                                                       1
[Fresh Tomato (Mild), [Guacamole, Sour Cream, Cheese]]                                                                                                                                         2
[Fresh Tomato (Mild), [Lettuce, Black Beans, Guacamole, Rice, Sour Cream, Cheese]]                                                                                                             1
                                                                                                                                                                                            ...
[[Tomatillo-Green Chili Salsa (Medium), Roasted Chili Corn Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Black Beans, Rice, Fajita Veggies, Lettuce]]                                     6
[[Tomatillo-Green Chili Salsa (Medium), Roasted Chili Corn Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Pinto Beans, Rice, Fajita Veggies, Cheese, Sour Cream, Guacamole, Lettuce]]      1
[[Tomatillo-Green Chili Salsa (Medium), Roasted Chili Corn Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Pinto Beans, Rice, Fajita Veggies, Cheese, Sour Cream, Lettuce]]                 2
[[Tomatillo-Green Chili Salsa (Medium), Roasted Chili Corn Salsa (Medium)], [Black Beans, Rice, Cheese, Guacamole]]                                                                            1
[[Tomatillo-Green Chili Salsa (Medium), Roasted Chili Corn Salsa (Medium)], [Black Beans, Rice, Cheese, Sour Cream, Lettuce]]                                                                  1
[[Tomatillo-Green Chili Salsa (Medium), Roasted Chili Corn Salsa (Medium)], [Black Beans, Rice, Cheese]]                                                                                       1
[[Tomatillo-Green Chili Salsa (Medium), Roasted Chili Corn Salsa (Medium)], [Black Beans, Rice, Fajita Veggies, Cheese, Sour Cream, Guacamole]]                                                1
[[Tomatillo-Green Chili Salsa (Medium), Roasted Chili Corn Salsa (Medium)], [Black Beans, Rice, Fajita Veggies, Cheese, Sour Cream, Lettuce]]                                                  2
[[Tomatillo-Green Chili Salsa (Medium), Roasted Chili Corn Salsa (Medium)], [Black Beans, Rice, Sour Cream, Lettuce]]                                                                          1
[[Tomatillo-Green Chili Salsa (Medium), Roasted Chili Corn Salsa (Medium)], [Pinto Beans, Black Beans, Rice, Fajita Veggies, Cheese, Sour Cream, Guacamole, Lettuce]]                          1
[[Tomatillo-Green Chili Salsa (Medium), Roasted Chili Corn Salsa (Medium)], [Rice, Cheese, Sour Cream, Guacamole, Lettuce]]                                                                    2
[[Tomatillo-Green Chili Salsa (Medium), Roasted Chili Corn Salsa (Medium)], [Rice, Fajita Veggies, Guacamole, Lettuce]]                                                                        2
[[Tomatillo-Green Chili Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Black Beans, Rice, Cheese, Lettuce]]                                                                                1
[[Tomatillo-Green Chili Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Black Beans, Rice, Cheese, Sour Cream, Guacamole]]                                                                  1
[[Tomatillo-Green Chili Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Black Beans, Rice, Fajita Veggies, Sour Cream]]                                                                     1
[[Tomatillo-Green Chili Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Pinto Beans, Rice, Cheese, Sour Cream, Guacamole, Lettuce]]                                                         1
[[Tomatillo-Green Chili Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Pinto Beans, Rice, Fajita Veggies, Cheese, Sour Cream, Guacamole]]                                                  1
[[Tomatillo-Green Chili Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Rice, Cheese, Sour Cream, Lettuce]]                                                                                 1
[[Tomatillo-Red Chili Salsa (Hot), Fresh Tomato Salsa (Mild), Tomatillo-Green Chili Salsa (Medium)], [Rice, Pinto Beans, Cheese]]                                                              1
[[Tomatillo-Red Chili Salsa (Hot), Fresh Tomato Salsa (Mild)], [Pinto Beans, Cheese, Guacamole, Lettuce]]                                                                                      1
[[Tomatillo-Red Chili Salsa (Hot), Fresh Tomato Salsa (Mild)], [Rice, Black Beans, Cheese, Lettuce]]                                                                                           1
[[Tomatillo-Red Chili Salsa (Hot), Fresh Tomato Salsa (Mild)], [Rice, Black Beans, Lettuce]]                                                                                                   1
[[Tomatillo-Red Chili Salsa (Hot), Fresh Tomato Salsa (Mild)], [Rice, Fajita Veggies, Cheese, Sour Cream, Guacamole, Lettuce]]                                                                 1
[[Tomatillo-Red Chili Salsa (Hot), Fresh Tomato Salsa (Mild)], [Rice, Pinto Beans, Cheese, Guacamole]]                                                                                         1
[[Tomatillo-Red Chili Salsa (Hot), Roasted Chili Corn Salsa (Medium)], [Guacamole, Cheese, Sour Cream]]                                                                                        1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Black Beans, Cheese, Lettuce]]                                                                                2
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Black Beans, Lettuce]]                                                                                        1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Pinto Beans, Cheese, Lettuce]]                                                                                1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Pinto Beans, Fajita Veggies, Cheese, Sour Cream, Lettuce]]                                                    1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Pinto Beans, Fajita Veggies, Lettuce]]                                                                        1
Name: quantity, Length: 1043, dtype: int64

In [22]:
max=chipo.groupby('choice_description').quantity.count().max()
print(max)
print('Diet Coke')

134
Diet Coke

##  Q10. how many items were ordered in total

In [23]:
print(sum(chipo['quantity']))
print(chipo.groupby('quantity').quantity.sum())

4972
quantity
1     4355
2      448
3       84
4       40
5        5
7        7
8        8
10      10
15      15
Name: quantity, dtype: int64

In [24]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

## Q11. turn the item price into float

In [53]:
dollar=chipo['item_price']
new=[]
for e in dollar:
    new.append(float(e[1:]))

#print(new)
#print(type(new))

chipo['new']=new
chipo['new']

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
5       10.98
6        1.69
7       11.75
8        9.25
9        9.25
10       4.45
11       8.75
12       8.75
13      11.25
14       4.45
15       2.39
16       8.49
17       8.49
18       2.18
19       8.75
20       4.45
21       8.99
22       3.39
23      10.98
24       3.39
25       2.39
26       8.49
27       8.99
28       1.09
29       8.49
        ...
4592    11.75
4593    11.75
4594    11.75
4595     8.75
4596     4.45
4597     1.25
4598     1.50
4599     8.75
4600     4.45
4601     1.25
4602     9.25
4603     9.25
4604     8.75
4605     4.45
4606     1.25
4607    11.75
4608    11.25
4609     1.25
4610    11.75
4611    11.25
4612     9.25
4613     2.15
4614     1.50
4615     8.75
4616     4.45
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: new, Length: 4622, dtype: float64

## Q12. check the item price type

In [54]:
type(chipo['new'])

pandas.core.series.Series

## Q13. how much was the revenue for the period in dataset

In [55]:
print(chipo.groupby('quantity')['new'].sum())
print(sum(chipo['new']))

quantity
1     31251.05
2      2652.92
3       374.46
4       130.96
5         7.50
7        10.50
8        13.52
10       15.00
15       44.25
Name: new, dtype: float64
34500.16000000046

## Q14. how many different items are sold

In [56]:
chipo['item_name'].unique()

array(['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar',
       'Chips and Tomatillo-Green Chili Salsa', 'Chicken Bowl',
       'Side of Chips', 'Steak Burrito', 'Steak Soft Tacos',
       'Chips and Guacamole', 'Chicken Crispy Tacos',
       'Chicken Soft Tacos', 'Chicken Burrito', 'Canned Soda',
       'Barbacoa Burrito', 'Carnitas Burrito', 'Carnitas Bowl',
       'Bottled Water', 'Chips and Tomatillo Green Chili Salsa',
       'Barbacoa Bowl', 'Chips', 'Chicken Salad Bowl', 'Steak Bowl',
       'Barbacoa Soft Tacos', 'Veggie Burrito', 'Veggie Bowl',
       'Steak Crispy Tacos', 'Chips and Tomatillo Red Chili Salsa',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl',
       'Chips and Roasted Chili-Corn Salsa',
       'Chips and Roasted Chili Corn Salsa', 'Carnitas Soft Tacos',
       'Chicken Salad', 'Canned Soft Drink', 'Steak Salad Bowl',
       '6 Pack Soft Drink', 'Chips and Tomatillo-Red Chili Salsa', 'Bowl',
       'Burrito', 'Crispy Tacos', 'Carnitas Crispy Tacos', 'Steak Salad',
       'Chips and Mild Fresh Tomato Salsa', 'Veggie Soft Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Salad',
       'Veggie Crispy Tacos', 'Veggie Salad', 'Carnitas Salad'],
      dtype=object)

## Q15.how many orders were made in the period

In [57]:
len(chipo['order_id'].unique())

1834

## Q16. what is the average amount per order

In [59]:
sum(chipo['new'])/len(chipo['order_id'].unique())

18.811428571428824